body {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
}

.nav-bar-wrapper {
  background-color: #60f;
  text-align: center;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}

.nav-bar {
  position: relative;
}

.arrow {

}

/* Left arrow inside nav-bar */
.nav-bar-wrapper .arrow {
  color: #fff;
  padding: 6px 14px 6px 10px;
  position: absolute;
  left: 0;
}

.nav-bar-title {
  color: #fff;
  font-size: 17px;
  /* This padding affects height of nav bar */
  padding: 13.5px 0;
}

.section-wrapper {

}

.section-heading {

}
.route-info-bar-wrapper {

}

.route-info-bar {

}

.route-info-link {

}

.route-id {

}

.route-destination {

}

.route-arrival-time {

}

.tab-bar-wrapper {

}

.tab-bar {

}

.tab-bar-item {

}

.tab-bar-link {

}

.tab-bar-icon {

}

.tab-bar-icon-label {

}

/* Right arrow inside routes */
.tab-bar .arrow {

}
