*, *before, *after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  color: #4c4c4c;
  background-color: #ebebeb;
  overscroll-behavior: none;
}

main {
  /* Top margin matches height of nav bar */
  margin-top: 44px;
  /* Bottom margin matches height of tab bar */
  margin-bottom: 73px;
}

a {
  text-decoration: none;
  color: #4c4c4c;
}

.font-sm {
  font-size: .85em;
}

.font-bold {
  font-weight: 700;
}

.font-orange {
  color: #ff9919;
}

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-bar-wrapper {
  background-color: #60f;
  text-align: center;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}

.nav-bar {
  position: relative;
}

.arrow {
  margin-left: 8px;
}

/* Left arrow inside nav-bar */
.nav-bar-wrapper .arrow {
  color: #fff;
  padding: 6px 14px 6px 10px;
  position: absolute;
  left: 0;
}

.nav-bar-title {
  color: #fff;
  font-size: 17px;
  /* This padding affects height of nav bar */
  padding: 13.5px 0;
}

.section-wrapper {

}

.section-wrapper:last-child {
  padding-bottom: 20px;
}

.section-heading {
  font-size: 15px;
  padding: 20px 0 10px 20px;
}
.route-info-bar-wrapper {
  border-top: 1px solid #a6a6a6;
  border-bottom: 1px solid #a6a6a6;
  background-color: #fff;
}

.route-info-bar {
  background-color: #fff;
}

.route-info-bar-divider {
  color: #a6a6a6;
  margin: 0 0 0 20px;
}

.route-info-link {

}

.route-info-link-content-wrapper {
  height: 60px;
  padding: 20px 20px 0 20px;
}

.route-info-link-content-arrival {
  float: right;
}

.route-id {
  display: inline-block;
  font-size: 2em;
  font-weight: 700;
  border: 1px solid #4c4c4c;
  padding: 5px 0 2px;
  margin-right: 5px;
  width: 70px;
  text-align: center;
  float: left;
}

.route-destination {
  display: inline-block;
  max-width: 35%;
  float: left;
  padding-top: 5px;
}

.section-reroute .route-destination {
  padding-top: 12px;
}

.section-reroute .route-arrival-time {
  padding-top: 0px;
}

.section-reroute .route-arrival-time {
  line-height: .5;
}

.section-reroute .route-info-link-content-arrival {
  padding-top: 3px;
}

.route-arrival-time {
  display: inline-block;
  text-align: right;
  padding-top: 6px;
}

.tab-bar-wrapper {
  background-color: #fff;
  border-top: 1px solid #a6a6a6;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.tab-bar {

}

.tab-bar-item {
  display: inline-block;
  width: 32.4%;
  text-align: center;
}

.tab-bar-link-content-wrapper {
  padding: 10px 0;
}

.tab-bar-item .tab-bar-icon,
.tab-bar-item .tab-bar-icon-label {
  color: #a6a6a6;
}

.tab-bar-item.active .tab-bar-icon,
.tab-bar-item.active .tab-bar-icon-label {
  color: #60f;
}

.tab-bar-link {

}

.tab-bar-icon {
 padding-bottom: 5px;
}

.tab-bar-icon-label {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Right arrow inside routes */
.tab-bar .arrow {

}
