*, *before, *after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  background-color: #ebebeb
}

a {
  text-decoration: none;
}

.nav-bar-wrapper {
  background-color: #60f;
  text-align: center;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}

.nav-bar {
  position: relative;
}

.arrow {

}

/* Left arrow inside nav-bar */
.nav-bar-wrapper .arrow {
  color: #fff;
  padding: 6px 14px 6px 10px;
  position: absolute;
  left: 0;
}

.nav-bar-title {
  color: #fff;
  font-size: 17px;
  /* This padding affects height of nav bar */
  padding: 13.5px 0;
}

.section-wrapper {

}

.section-heading {

}
.route-info-bar-wrapper {

}

.route-info-bar {

}

.route-info-link {

}

.route-id {

}

.route-destination {

}

.route-arrival-time {

}

.tab-bar-wrapper {
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.tab-bar {

}

.tab-bar-item {
  display: inline-block;
  width: 32.669%;
  text-align: center;
}

.tab-bar-link-content-wrapper {
  padding: 10px 0;
}

.tab-bar-item .tab-bar-icon,
.tab-bar-item .tab-bar-icon-label {
  color: #a6a6a6;
}

.tab-bar-item.active .tab-bar-icon,
.tab-bar-item.active .tab-bar-icon-label {
  color: #60f;
}

.tab-bar-link {

}

.tab-bar-icon {
 padding-bottom: 5px;
}

.tab-bar-icon-label {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Right arrow inside routes */
.tab-bar .arrow {

}
